################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/How to Host a Discord Bot on Heroku for Free - Discord.py Rewrite Tutorial #5-BPvg9bndP1U.mp3
